* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    opacity: 1;
    transition: 0.5s;
}

body {

    font-family: 'Microsoft YaHei', Arial, Helvetica, sans-serif;
    transition: opacity 0.3s;
}

a {
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    font-style: normal;
    color: black;
}

ul,
ol {
    list-style: none;
}

li {
    display: inline-block
}


.wrapper {
    background: #efefef url('../images/rs-cover.jpg') center top no-repeat;
    background-size: 100% 515px;
    min-width: 1045px;

}


.page-header {
    height: 515px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.8);
}

/* 顶部菜单样式 */
.topNavBar {
    padding: 20px 0px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
    transition: top 1s;
}

.topNavBar.noShow {
    top: -50px;
}

.noShow {
    top: 50px;
}

.noShows {
    transform: translateY(50px);
    opacity: 0;
}


.topNavBar .logo {
    float: left;
    font-family: 'Arial Black';
    font-size: 24px;
    padding: 4px 0px 3px 16px;
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
}

.topNavBar .rs {
    margin-right: 4px;
    color: #e6686a;
}

.topNavBar .card {
    color: #9a9da2;
}

.topNavBar nav {
    float: right;
    padding-top: 8px;
    padding-right: 16px;
    transition: 0.5s;
}





.topNavBar nav ul {
    list-style: none;
    font-size: 0;
}

.topNavBar nav li {
    display: inline-block;
    text-align: center;
    padding: 0 17px;
    margin: 0;
    position: relative;
}

.topNavBar nav a {
    font-size: 12px;
    color: #b7b7b7;
    font-weight: bold;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    transition: 0.3s;
    position: relative;
}

.topNavBar nav a:after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0%;

    transition: 0.3s;
}

.topNavBar nav a.actived::after {
    background-color: #e06567;
    width: 100%;
}

.topNavBar nav a:hover::after {
    background-color: #ec9fa0;
    width: 100%;
}

.topNavBar nav .hasPwin>a:hover::after {
    width: 0%;
}

.topNavBar nav .hasPwin:hover .pwin {
    opacity: 1;
    right: 17px;
}


/* .topNavBar nav a:hover {
    border-bottom-color: #e06567;
} */



.topNavBar::after {
    content: "";
    display: block;
    clear: both;
}

.topNavBar nav li .pwin {
    transition: 0.5s;
    opacity: 0;
    position: absolute;
    right: 0px;
    top: 30px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 3px 3px 5px gray;

}

.topNavBar nav li .pwin li {
    padding: 5px 15px;
}

.topNavBar nav li .pwin li a {
    word-break: keep-all;
    white-space: nowrap;
}


/* 滚动时将Bar高度减少 */
.graymask {
    transition: 1s;
    background-color: rgba(255, 255, 255, 0.9);
}

.graymask {
    padding: 0;
}

.graymask nav {
    padding-top: 3px;
}

.graymask nav a {
    color: black;
}

/* @media screen and (max-width:600px) {
    .topNavBar {
        padding: 0
    }

    .topNavBar .logo {
        opacity: 0;
        visibility: hidden;
        width: 0px;
        height: 0px;
        overflow: hidden;
        padding-left: 0px;
    }

    .topNavBar nav {
        float: none;
        padding-right: 0px;
    }

    .topNavBar nav ul {
        width: 100%;
        display: -webkit-flex;
        align-content: center;
        justify-content: space-between;
        -webkit-justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .topNavBar nav li {
        flex: 1;
        padding: 10px;
        margin: 2px;
        white-space: nowrap;
        background-color: #1c87db;
        transition: 0.4s;
        position: relative;
    }

    .topNavBar nav li:hover {
        background-color: #dc501c;
    }

    .topNavBar nav a {
        font-size: 5vw;
        color: #fff;
    }

    .topNavBar nav a:hover {
        border-bottom-color: transparent;

    }

} */

/* 顶部菜单样式 end*/


main {
    position: relative;
    top: -340px;
    transition: top 1s;
}

main.noShow {
    top: -290px;
}

main>article {
    text-align: center;
    margin: 60px auto 0;
}

main>article h2 {
    text-align: center;
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
    margin-bottom: 30px;
}

.personal-info {
    max-width: 940px;
    margin-top: 0px;
    background-color: #fff;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5)
}

.personal-info .content {
    padding: 50px;
    text-align: left;
    font-size: 0;
}

.personal-info img {
    width: 299px;
    height: 347px;
    vertical-align: top;
    display: inline-block;
}

.personal-info .info {
    display: inline-block;
    width: 470px;
    margin-left: calc(100% - 299px - 470px);
}

.personal-info .info .tips {
    font-size: 16px;
    background: #e6686a;
    color: white;
    display: inline-block;
    padding: 4px 16px;
    line-height: 22px;
    position: relative;
    margin-bottom: 10px;
}

.personal-info .info .tips:after {
    content: "";
    display: block;
    border: 10px solid transparent;
    width: 0px;
    border-left-color: #e6686a;
    border-top-width: 0px;
    position: absolute;
    left: 4px;
    top: 100%;
}

.personal-info .info h1 {
    font-size: 32px;
    font-weight: normal;
    margin-top: 18px;
}

.personal-info .info p {
    font-size: 16px;
}

.personal-info .info hr {
    height: 0;
    border: none;
    border-top: 1px solid #dedede;
    margin: 20px 0;
}

.personal-info .info dl {
    font-size: 0;
    width: 100%;
}

.personal-info .info dt,
.personal-info .info dd {
    padding: 5px 0;
    display: inline-block;
    font-size: 16px;
}

.personal-info .info dt {
    font-weight: bold;
    width: 30%;
}

.personal-info .info dd {
    width: 70%;
    color: #9da0a7;
}

.personal-info footer {
    height: 72px;
    background-color: #e6686a;
}

/*介绍个人及下载按钮*/
.jieshao {
    margin-top: 32px;
}

.jieshao p {
    font-family: kai;
    line-height: 1.8;
    font-size: 18px;
}

.jieshao .btn-download {
    font-size: 14px;
    padding: 21px 55px;
    border: 1px solid #cdcfd1;
    background: #efefef;
    display: inline-block;
    border-radius: 2px;
    color: #3d4451;
    font-weight: bold;
    margin: 0 auto 32px;
    transition: box-shadow 0.2s;
}

.jieshao .btn-download:hover {
    box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.2);
}

/*技能*/
.skills {
    max-width: 940px;
}

.skills ol {
    background: white;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
    padding: 42px 50px 10px;
    overflow: hidden;
}

.skills ol li {
    float: left;
    width: 48%;
}

.skills li h3 {
    font-size: 14px;
    line-height: 1.1;
    padding-right: 40px;
    font-weight: normal;
    text-align: left;
}

.skills li .progressBar {
    height: 5px;
    background: #FAE1E1;
    border-radius: 2px;
    margin: 4px 0 40px;
}

.skills li .progressBar>.progress {
    height: 100%;
    background: #E6686A;
    width: 70%;
    border-radius: 2px;
}

.skills li:nth-child(even) {
    float: right;
}

.portfolio {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

.portfolio nav {
    display: inline-block;
    vertical-align: top;
    margin-top: 32px;
}

.portfolio nav ol {
    margin: 0 auto;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
}

.portfolio>nav>ol>li:first-child {
    margin-left: 0;
}

.portfolio>nav>ol>li {
    float: left;
    margin-left: 40px;
    cursor: pointer;
}

.portfolio>nav .bar {
    height: 5px;
    background: white;
    margin-top: 5px;
    margin-bottom: 28px;
    border-radius: 2px;
}

.portfolio>nav .bar.state-1 .bar-inner {
    margin-left: 0;
    width: 50px;
}

.portfolio>nav .bar-inner {
    height: 100%;
    background: #E6686A;
    border-radius: 2px;
    transition: all 0.3s;
}


.portfolio>nav .bar.state-1 .bar-inner {
    margin-left: 0;
    width: 50px;
}

.portfolio>nav .bar.state-2 .bar-inner {
    margin-left: 65px;
    width: 50px;
}

.portfolio>nav .bar.state-3 .bar-inner {
    margin-left: 140px;
    width: 96px;
}



.portfolio .works {
    position: relative;
    height: 600px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50% 50%;
}

.portfolio .works>a {
    background-color: #fff;
    box-shadow: 5px 5px 5px gray;
    transition: 1s;
}


.portfolio .works.state-1>a:first-child {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    margin-right: 20px;
}

.portfolio .works.state-1>a:nth-child(2) {
    margin-bottom: 20px;
}

.portfolio .works.state-2>a:nth-child(2) {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    margin-right: 20px;
}

.portfolio .works.state-2>a:first-child {
    margin-bottom: 20px;
}

.portfolio .works.state-3>a:nth-child(3) {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    margin-right: 20px;
}

.portfolio .works.state-3>a:first-child {
    margin-bottom: 20px;
}


#mask {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #f0f0f0;
    z-index: 99;
}

#mask span {
    user-select: none;
    padding-top: 5px;
    text-indent: 30px;
    font-weight: bold;
    color: gray;
    font-style: italic;
    text-decoration: underline;
    position: absolute;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#mask span::after,
#mask span::before {
    content: "";
    position: absolute;
    display: inline-block;
    background-color: gray;
    border-radius: 50%;
    transform: scale(0);
    opacity: 1;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#mask span:after {
    animation: loading 4s infinite linear;
}

#mask span:before {
    animation: loading 4s 2s infinite linear;
}

@keyframes loading {
    from {
        opacity: 1;
        transform: scale(0);
    }

    to {
        opacity: 0;
        transform: scale(3);
    }
}




.message-board {
    box-shadow: 1px 1px 3px gray;
    width:940px;
    text-align:left;
    background-color:#fff;
}

.message-board .title {
    border-bottom: 1px solid #e0e0e0;
    line-height: 2em;
    text-indent: 1em;
    color:gray;
}

.message-board .list {
    margin: 10px auto;
    width: 95%;
}

.message-board .list li {
    padding-top:1em;
    border-top: 1px solid #e0e0e0;
    width: 100%;

}
.message-board .list li:first-child{
    padding-top:0em;
    border-top: none;
}
.message-board .list-content {
    text-indent: 2em;
}

.message-board .zan {
    text-align: right
}

.message-board .editpad {
    border-top: 1px solid #e0e0e0;
    padding: 10px 20px;
    overflow: hidden;
}

.message-board .editpad::after {
    overflow: hidden;
}

.message-board #editbox {
    float: left;
    width: calc(100% - 50px);
    border:1px solid gray;
    line-height:2em;
    font-size:14px;
    padding:0em 1em;
    
}
.message-board #editbox:after{
    content:"写下你的留言";
    color:gray;
}

.message-board #editbox:focus::after,
.message-board #editbox.hascontent::after{
    content:"";
}


.message-board button {    
    float: right;
    width: 40px;
    line-height:2em;
    font-size:14px;
    cursor: pointer;
    outline: none;
    border:1px solid #478ec7;
    background-color:#478ec7;
    color:#fff;
}
.message-board .msg-date{
    color: #8590a6;
    text-align: right;
}

